.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
}
.app_searchForm{
  margin-top: 18px;
}
.app_input{
  padding: 6px 16px;
  min-width: 200px;
  max-width: 100vw;
  font-size: 15px;
}
.app_submit{
  padding: 6px 16px;
  margin-left: 6px;
  font-size: 15px;
  background-color:rgb(2, 16, 65);
  border: 2px solid aqua;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.app_submit:hover{
  background-color: rgb(187, 236, 230);
  border: 2px solid aqua;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}


.app_recipes{
  margin-top: 24px;
  display: grid;
  grid-template-columns: 230px 230px;
  align-items: baseline;
}
.app_healthLabels{
  padding: 7px 8px;
  margin-left: 6px;
  border-radius: 4px;
  
}